<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
</head>
<body>
    <div class="searchInput">
        <form action="/search" method="GET">
        <label for="mySearch"></label>
        <input type="search" id="mySearch" name="mySearch" placeholder="Digite sua busca...">
        <button id="myButton">Search</button>
        </form>
    </div>

    <!-- <div class="results">

        <span class="product">
            <img src="https://i.zst.com.br/thumbs/45/18/3c/61848938.jpg" alt="product image goes here">
            <p>Product Name</p>
            <p>price</p>
            <p>Store</p>
        </span>

        <span class="product">
            <img src="https://i.zst.com.br/thumbs/45/18/3c/61848938.jpg" alt="product image goes here">
            <p>Product Name</p>
            <p>price</p>
            <p>Store</p>
        </span>

        <span class="product">
            <img src="https://i.zst.com.br/thumbs/45/18/3c/61848938.jpg" alt="product image goes here">
            <p>Product Name</p>
            <p>price</p>
            <p>Store</p>
        </span>

        <span class="product">
            <img src="https://i.zst.com.br/thumbs/45/18/3c/61848938.jpg" alt="product image goes here">
            <p>Product Name</p>
            <p>price</p>
            <p>Store</p>
        </span>

        <span class="product">
            <img src="https://i.zst.com.br/thumbs/45/18/3c/61848938.jpg" alt="product image goes here">
            <p>Product Name</p>
            <p>price</p>
            <p>Store</p>
        </span>

        <span class="product">
            <img src="https://i.zst.com.br/thumbs/45/18/3c/61848938.jpg" alt="product image goes here">
            <p>Product Name</p>
            <p>price</p>
            <p>Store</p>
        </span>

        <span class="product">
            <img src="https://i.zst.com.br/thumbs/45/18/3c/61848938.jpg" alt="product image goes here">
            <p>Product Name</p>
            <p>price</p>
            <p>Store</p>
        </span>

        <span class="product">
            <img src="https://i.zst.com.br/thumbs/45/18/3c/61848938.jpg" alt="product image goes here">
            <p>Product Name</p>
            <p>price</p>
            <p>Store</p>
        </span>

        <span class="product">
            <img src="https://i.zst.com.br/thumbs/45/18/3c/61848938.jpg" alt="product image goes here">
            <p>Product Name</p>
            <p>price</p>
            <p>Store</p>
        </span>

        <span class="product">
            <img src="https://i.zst.com.br/thumbs/45/18/3c/61848938.jpg" alt="product image goes here">
            <p>Product Name</p>
            <p>price</p>
            <p>Store</p>
        </span>

        <span class="product">
            <img src="https://i.zst.com.br/thumbs/45/18/3c/61848938.jpg" alt="product image goes here">
            <p>Product Name</p>
            <p>price</p>
            <p>Store</p>
        </span>

        <span class="product">
            <img src="https://i.zst.com.br/thumbs/45/18/3c/61848938.jpg" alt="product image goes here">
            <p>Product Name</p>
            <p>price</p>
            <p>Store</p>
        </span>

        <span class="product">
            <img src="https://i.zst.com.br/thumbs/45/18/3c/61848938.jpg" alt="product image goes here">
            <p>Product Name</p>
            <p>price</p>
            <p>Store</p>
        </span>

        <span class="product">
            <img src="https://i.zst.com.br/thumbs/45/18/3c/61848938.jpg" alt="product image goes here">
            <p>Product Name</p>
            <p>price</p>
            <p>Store</p>
        </span>

        <span class="product">
            <img src="https://i.zst.com.br/thumbs/45/18/3c/61848938.jpg" alt="product image goes here">
            <p>Product Name</p>
            <p>price</p>
            <p>Store</p>
        </span>

        <span class="product">
            <img src="https://i.zst.com.br/thumbs/45/18/3c/61848938.jpg" alt="product image goes here">
            <p>Product Name</p>
            <p>price</p>
            <p>Store</p>
        </span>

        <span class="product">
            <img src="https://i.zst.com.br/thumbs/45/18/3c/61848938.jpg" alt="product image goes here">
            <p>Product Name</p>
            <p>price</p>
            <p>Store</p>
        </span>

        <span class="product">
            <img src="https://i.zst.com.br/thumbs/45/18/3c/61848938.jpg" alt="product image goes here">
            <p>Product Name</p>
            <p>price</p>
            <p>Store</p>
        </span>
    </div> -->
</body>
</html>