.searchInput{
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input[name="mySearch"]{
    display: inline-block;
    width: 35em;
    height: 3.5em;
    border-radius: 0.4em;
    margin-top: 1em;
    padding: 1em;
}

button{
    display: block;
    position: relative;
    top: 1em;
    margin: auto;
}

.results{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5em auto;
    width: 80em;
}

.product{
    display: inline-block;
    border: 0.1em solid rgb(102, 100, 100);
    margin: 1em;
    border-radius: 0.5em;
}

.product p{
    margin-left: 0.8em;
    max-width: 26ch;
    font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.product-info p[id='price']{
    font-family: "Kanit", sans-serif;
    font-weight: bold;
}

.product-info p[id='shipping']{
    font-family: "Source Code Pro";
}

.product-info p[id='rating']{
    font-family: 'Overpass Mono', monospace;
    font-weight: 100;
}

.product img{
    margin-top: 0.6em;
    margin: 0.6em 1em 0;
    margin-left: 3.3em;
    width: 13em;
    height: 16.7em;
}

.product:hover{
    box-shadow: 0 0.25em 0.5em 0 rgba(68, 75, 182, 0.2), 0 0.375em 1.25em 0 rgba(0, 0, 0, 0.19);
}

.product-info{
    margin: 0.5em 0.8em;
}